.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  grid-auto-flow: column;
  grid-auto-columns: 200px;
  /*grid-auto-flow: row;
  grid-auto-rows: 200px;*/
}
/*.header {
  background-color: #2ecc71;
  align-self: end;
  justify-self: center;
  place-self: end center
}*/
.item:nth-child(odd) {
  background-color: #2ecc71;
}

.item:nth-child(even) {
  background-color: #3498db;
}
